*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fafafa;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1111px;
    height: 32px;
    margin: 20px 164px 54px 164px;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header a{
    height: 14px;
    margin-left: 42px;
    margin-top: 9px;
    margin-bottom: 9px;

    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #33323D;
}

header a:hover{
    color: #5FB4A2;
}

footer{   
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 80px;

    background-color: #33323D;
}

footer div{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1110px;
    height: 32px;
    position: relative;
    margin-top: 15px;
}

footer div img{
    width: 61px;
    height: 32px;
}

footer div nav a img{
    width: 25px;
    height: 24px;
    margin-left: 15px;
}

footer ul{
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    left: 120px;
}

footer li{
    margin-right: 42px;
}

footer a{
    width: 309px;
    height: 14px;

    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}
footer a:hover{
    color: #5FB4A2;
}
footer nav img:hover{
    opacity: 0.9;
}