.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 1110px;
    height: 600px;
    margin-bottom: 149px;

    background-image: url('/assets/home/image-homepage-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 445px;
    height: 357px;

    background-color: #fafafa;
}

.hero-content h1{
    margin: 56px 28px 53px 27px;

    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;

    color: #33323D;
}

.btn-main{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 200px;
    height: 48px;
    margin-right: 245px;

    background-color: #203A4C;  
    cursor: pointer; 
}

.btn-main span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-main a{
    width: 100%;
    height: 14px;
    margin: 16px 0;
    margin-left: 30px;

    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;

    color: #FFFFFF;
}

.btn-main img{
    width: 47px;
    height: 47px;
    padding: 16px 14px;
    
    background-color: #203A4C;
    opacity: 0.3;
}

.btn-main:hover{
    background: #5FB4A2;
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1110px;
    height: 601px;
    margin-bottom: 159px;
}

.about img{
    width: 540px;
    height: 600px;
}

.about article{
    width: 430px;
    height: 601px;
    padding-top: 51px;
    padding-bottom: 46px;

    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.about div{
    width: 430px;
    height: 502px;
}

.about h1{
    margin-bottom: 28px;

    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;

    color: #33323D;
}

.about p{
    height: 360px;
    margin-bottom: 24px;

    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.about button{
    width: 204px;
    height: 48px;
    margin: 0 113px;

    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;

    color: #33323D;
    background-color: #fafafa;
    border: 1px solid #33323D;

    cursor: pointer;
}

.about button:hover{
    background-color: #33323D;
    color: #FFFFFF;
}

.contact article{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1110px;
    height: 84px;
    margin-bottom: 150px;
}

.contact div{
    width: 367px;
    height: 84px;
}

.contact h1{
    height: 84px;

    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;

    color: #33323D;
}
.contact button{
    width: 168px;
    height: 48px;

    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;

    color: #33323D;
    background-color: #fafafa;
    border: 1px solid #33323D;

    cursor: pointer;
}
.contact button:hover{
    background-color: #33323D;
    color: #FFFFFF;
}
